[Unit]
Description=PiDGC Display
After=graphical.target
After=pidgc-hw-interface.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pidgc
ExecStart=/home/pi/pidgc/display

[Install]
WantedBy=multi-user.target
